{{#partial "content"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                {{#if locations}}
                    {{#each locations as |l|}}
                        <div class="entries">
                            <p class="text" id={{l.id}}>{{l.name}}</p><br>
                            <a href="/view/location/sightings/{{l.id}}"><button class="btn btn-primary btn-md">View
                                Sightings</button></a>
                            <a href="/view/location/delete/{{l.id}}"><button class="btn btn-danger
                            btn-md">Delete Location</button></a>
                        </div>
                        <hr><br>
                    {{/each}}

                {{else}}
                    <p class="text display-4">There are no locations! Create some <a href="/create/location">here</a></p>
                {{/if}}
            </div>
            {{#if sightings}}
            <div class="col-md-8">

                    <div class="card text-white bg-info">
                        <div class="card-body">
                            <h1 class="card-title">Sightings</h1>
                                <hr>
                                <div class="col-md-4">
                                    <h3>Time</h3>
                                    <hr>
                                    {{#each sightings as |s|}}
                                        <li class="card-text ">{{s.time}}</li>
                                    {{/each}}

                                </div>
                                <div class="col-md-4">
                                    <h3>Animal</h3>
                                    <hr>
                                    {{#each animals as |a|}}
                                        <li class="card-text ">{{a}}</li>
                                    {{/each}}

                                </div>
                                <div class="col-md-4">
                                    <h3>Type</h3>
                                    <hr>
                                    {{#each types as |t|}}
                                        <li class="card-text ">{{t}}</li>
                                    {{/each}}

                                </div>

                        </div>
                    </div>
                {{else}}
                    <h3>No Sightings in this location</h3>

                {{/if}}

            </div>
        </div>
    </div>

{{/partial}}
{{> layout.hbs}}